body {
  background: #e3f6f5;
}

.header_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  min-height: 40px;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  padding: 5px;
}
.owner_back {
  width: 90px;
  height: 90px;
  border-radius: 55%;
  margin-left: 20px;
  display: flex;
  justify-content: center;

  overflow: hidden;
}
.owner {
  width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  padding-bottom: 10px;
  font-family: "Pacifico", cursive;
  font-size: 60px;
  text-align: center;
  color: #78b7bb;
  font-weight: 400;
}
.main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 240px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(63, 76, 119);
  border: none;
  color: #78b7bb;
}
.text_for {
  margin-top: 10px;
  color: rgb(32, 38, 57);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media (hover: hover) {
  .btn:hover {
    background-color: rgb(32, 38, 57);
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
}
